

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  height: 150px;
  width: 100%;
  background-color: black;
  text-align: center;
}
input{
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  outline: none;
  width: 300px;
  font-size: medium;
}.grid-container{
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4,325px);
  grid-auto-rows: 270px;
  margin: 5px;
  background-color: white;
  width: 100%;
}
.grid-containerdiv{
  background-color: black;
  margin: 10px;
  padding-top: 10px;
  color: wheat;
  text-align: center;
  border-radius: 10px;
}